.bg-F2FBFC {
  color: #f2fbfc;
}
.navbar-brand:hover {
  color: #04a7c3;
}
.text-color {
  color: #04a7c3;
}
.nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus {
  color: #04a7c3 !important;
}
.text-normal {
  color: #7a7289;
}
.cursor-pointer {
  cursor: pointer;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 85%;
  right: 0;
}
.dropdown-menu {
  min-width: 8.5rem;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
